extends jade/_base
include jade/_mixin

block title
    title Enjoy Develp

block css
    link(rel="stylesheet",href="css/app.css") 

block content
    section
        +main_title("Enjoy Develop !!")
        p  develop with jade + sass(compass) + typescript

block script
    script(type="text/javascript",src="js/index.js")